<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--测试套件-->
<suite name="api">
    <listeners>
        <listener class-name="com.lilith.listener.TestReport"></listener>
        <listener class-name="com.lilith.listener.TestNGListennerSendEmail"></listener>
    </listeners>
    <!--测试集/模块-->
        <test name="sample">
            <!--测试类-->
            <classes>
                <!--单个测试类定义-->
                <class name="com.lilith.cases.SampleCases"></class>
            </classes>
        </test>
</suite> <!-- Suite -->
